<!DOCTYPE html>
<html lang="en">
<body>
    <section>
        <div class="form-box">
            <div class="form-value">
                <form action="">
                    <h2>Registration</h2>
                    <div class="inputbox">
                        <input type="email" required>
                        <label for="">Email</label>
                    </div>
                    <div class="inputbox">
                        <input type="password" required>
                        <label for="">Password</label>
                    </div>
                    <div class="inputbox">
                        <input type="password" required>
                        <label for="">Repeat password</label>
                    </div>
                    <button>Register</button>
                </form>
            </div>
        </div>
    </section>

</body>
</html>